<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aklymov.mynetdaity.feature_client_edit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aklymov.mynetdaity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
</manifest>
